
  
  
        <!--
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark  " >
          <div class="container-fluid" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">ELEMENT STORE</a>
  
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 80px;">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">эксесуари</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Кальян</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">эксесуари</a>
                </li>
              </ul>
  
            <div class="col-sm-4 offset-md-1 py-4" >
            
              <ul class="list-unstyled" style="margin-right: 3px;" >
                
                <li><img src="http://3.bp.blogspot.com/-NxouMmz2bOY/T8_ac97cesI/AAAAAAAAGg0/e3vY1_bdnbE/s1600/Twitter+logo+2012.png" 
                   alt="..." width="20px" height="15px"><a href="#" class="text-white"> Twitter</a></li>
                <li><img src="http://1.bp.blogspot.com/_9NA3eH4VZzA/StQZObzp-qI/AAAAAAAAAa8/Y9fztt30dbk/s400/Facebook_Logo+27.png" 
                  alt="..." width="25px" height="20px"><a href="#" class="text-white">Facebook</a></li>
                <li><img src="http://www.avaleisure.co.uk/ESW/Images/mail-button.png"
                  alt="..." width="25px" height="20px"><a href="#" class="text-white">Email </a></li>
                 
                  
              </ul>
            </div>
  
           <div class="col-sm-4 offset-md-1 py-4" style="margin-right: 70px;" >
             
              <ul class="list-unstyled" >
                <li ><a class="phone" href="tel:+380959139444" style="    flex-direction: column;">
               095 913 94 44</a></li>
                  <li ><a class="phone" href="tel:+380959139444"> 
                 095 913 94 44</a></li>
               
               
               <!-- <li><img src="http://1.bp.blogspot.com/_9NA3eH4VZzA/StQZObzp-qI/AAAAAAAAAa8/Y9fztt30dbk/s400/Facebook_Logo+27.png" 
                  alt="..." width="25px" height="20px"><a href="#" class="text-white"> Facebook</a></li>
                  alt="..." width="25px" height="20px"><a href="#" class="text-white">Email </a></li>
               <li><img src="http://www.avaleisure.co.uk/ESW/Images/mail-button.png"-->
            <!--  </ul>
            </div>
             
         
  
            
  
         
    
  
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
             
            </div>
          </div>
        </nav>
     
      </div>
    </div>
   -->
  
    <br>
    <br>
    <div class="container" >  
      <div class="row">
  
    <h2 class="text-center" style="margin: 50px;">ИНТЕРНЕТ-МАГАЗИН КАЛЬЯНОВ <br>ELEMENT STORE.</h2>
    
    
    
  <!--
    <div class="row align-items-md-stretch ">
      
      
      <div class="col-md-6 ">
    <div class="h-100 p-5  text-white bg-dark rounded-3 " style="width: 280px; margin: 20px; ">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Sidebar</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link " aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Orders
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Products
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Customers
          </a>
        </li>
      </ul>
      <hr>
      
    </div>
   </div>
   
        
       -->
        
  
   
  <div class="col-md-12">
    <div class="h-100 p-5 bg-dark border rounded-3 " >
       
        <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel "  >
          <div class="carousel-inner" >
            <div class="carousel-item active" data-bs-interval="1500">
              <img src="https://s2.kozaczek.pl/wp-content/uploads/sites/2/2019/01/p287-980x514.jpg" height="400px"  width="100%" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img src="http://hq-wallpapers.ru/wallpapers/7/hq-wallpapers_ru_girls_34250_1920x1200.jpg" height="400px"  width="100%"   class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img src="https://s2.kozaczek.pl/wp-content/uploads/sites/2/2019/01/p287-980x514.jpg" height="400px"  width="100%" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
  </div>
  
  
  
  </div>
  </div>
  <!--
  
   <div class="container">  <!--style=" position:fixed ; left: 6.4em;z-index: 999;"
      <div class="row">
    <header >
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4"  >
              <h2 class="text-white">ELEMENT</h2>
              <a href="#" class="text-white">ИНТЕРНЕТ-МАГАЗИН КАЛЬЯНОВ ELEMENT STORE.</a>
  
             
              
                <p class="text-muted">ИНТЕРНЕТ-МАГАЗИН КАЛЬЯНОВ ELEMENT STORE.</p>
              <a href="#" class="text-muted">ИНТЕРНЕТ-МАГАЗИН КАЛЬЯНОВ ELEMENT STORE.</a>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                
                <li><img src="http://3.bp.blogspot.com/-NxouMmz2bOY/T8_ac97cesI/AAAAAAAAGg0/e3vY1_bdnbE/s1600/Twitter+logo+2012.png" 
                   alt="..." width="20px" height="15px"><a href="#" class="text-white"> on Twitter</a></li>
                <li><img src="http://1.bp.blogspot.com/_9NA3eH4VZzA/StQZObzp-qI/AAAAAAAAAa8/Y9fztt30dbk/s400/Facebook_Logo+27.png" 
                  alt="..." width="25px" height="20px"><a href="#" class="text-white">Like on Facebook</a></li>
                <li><img src="http://www.avaleisure.co.uk/ESW/Images/mail-button.png"
                  alt="..." width="25px" height="20px"><a href="#" class="text-white">Email me</a></li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">пойск</button>
              </form>
            </div>
          </div>
       
  </div>
  </div>
      <div class="navbar navbar-dark bg-dark shadow-sm" >
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>ELEMENT</strong>
          </a>
  
          <img src="http://1.bp.blogspot.com/_9NA3eH4VZzA/StQZObzp-qI/AAAAAAAAAa8/Y9fztt30dbk/s400/Facebook_Logo+27.png" 
            alt="..." width="150px" height="100px"  class="text-center" >
  
  
  
  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"  ></span>
          </button>
        </div>
     
      <main class="main1" >
        
          <div class="row py-lg-5">
            <div class="col-lg-12 col-md-8 mx-auto"> <div class="col-sm-12 col-md-8 py-4"  >
             <h1 class="fw-light">ELEMENT</h1>
              <p class="lead text-muted">Интернет Магазин  Кальянов – ELEMENT.Kiev.Ua, У Нас Вы Можете Купить Кальян Дешево И Быстро..</p>
            
                <a href="#" class="btn btn-primary my-2">Кальян</a>
                <a href="#" class="btn btn-secondary my-2">Табак</a>
                <a href="#" class="btn btn-primary my-2">уголь</a>
                <a href="#" class="btn btn-primary my-2">эксесуари</a>
                <a href="#" class="btn btn-primary my-2">эксесуари</a>
                <a href="#" class="btn btn-primary my-2">эксесуари</a>
                <a href="#" class="btn btn-primary my-2">эксесуари</a>
            </div>
          </div>
       </main>
     </div>
   </header>
   </div>
   </div> 
  
  
   <div class="container">
  
      <div class="row">
    <div class="wropper">
      <div class="menu">
        <a href="#" class="menu-btn"><img src="http://www.avaleisure.co.uk/ESW/Images/mail-button.png"
          alt="..." width="30px" height="30px"></a>
        <nav class="menu-list">
          <a href="#">главная</a>
          <a href="#">главная</a>
          <a href="#">главная</a>
          <a href="#">главная</a>
        </nav>
  
  </div>
  </div>
  </div>
  </div>
  
  
  
    
  
  
  -->
  
  
  
  
      <div class="album py-5 bg-light" > 
        <div class="container" >
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-lg-4" >
            <div class="col">
              <div class="card shadow-sm" >
                <img src="https://kalyancenter.net/wp-content/uploads/2018/06/00000026025_26025.jpg.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm" >
                <img src="https://kalyancenter.net/wp-content/uploads/2018/06/00000026025_26025.jpg.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm" >
                <img src="https://kalyancenter.net/wp-content/uploads/2018/06/00000026025_26025.jpg.png" class="card-img-top" alt="...">
    
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            
            
            
    
            
            
            <div class="col">
              <div class="card shadow-sm" >
                <img src="https://kalyancenter.net/wp-content/uploads/2018/06/00000026025_26025.jpg.png" class="card-img-top" alt="...">
    
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
  
      
    <footer class="text-muted py-5" >
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a></p>
      </div>
    </footer>
    
  
  
  
  
       
